/*@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);*/
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);*/
@charset 'UTF-8';
/* Base Styles */
#mysidemenu,
#mysidemenu ul,
#mysidemenu li,
#mysidemenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  position: relative;
}
#mysidemenu {
  width: 180px;
  border-bottom: 4px solid #656659;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#mysidemenu a {
  line-height: 1.3;
}
#mysidemenu > ul > li:first-child {
  background: #66665e;
  background: -moz-linear-gradient(#66665e 0%, #45463d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66665e), color-stop(100%, #45463d));
  background: -webkit-linear-gradient(#66665e 0%, #45463d 100%);
  background: linear-gradient(#66665e 0%, #45463d 100%);
  border: 1px solid #45463d;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#mysidemenu > ul > li:first-child > a {
  padding: 15px 10px;
  background: url(pattern.png) top left repeat;
  border: none;
  border-top: 1px solid #818176;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  text-shadow: 0 -1px 1px #000000;
}
#mysidemenu > ul > li:first-child > a > span {
  padding: 0;
}
#mysidemenu > ul > li:first-child:hover {
  background: #66665e;
  background: -moz-linear-gradient(#66665e 0%, #45463d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66665e), color-stop(100%, #45463d));
  background: -webkit-linear-gradient(#66665e 0%, #45463d 100%);
  background: linear-gradient(#66665e 0%, #45463d 100%);
}
#mysidemenu > ul > li {
  background: #c9c9c9;
  background: -moz-linear-gradient(#c9c9c9 0%, #b0b0b0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c9c9c9), color-stop(100%, #b0b0b0));
  background: -webkit-linear-gradient(#c9c9c9 0%, #b0b0b0 100%);
  background: linear-gradient(#c9c9c9 0%, #b0b0b0 100%);
}
#mysidemenu > ul > li:hover {
  background: #c1c1c1;
  background: -moz-linear-gradient(#c1c1c1 0%, #a8a8a8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c1c1c1), color-stop(100%, #a8a8a8));
  background: -webkit-linear-gradient(#c1c1c1 0%, #a8a8a8 100%);
  background: linear-gradient(#c1c1c1 0%, #a8a8a8 100%);
}
#mysidemenu > ul > li > a {
  font-size: 10px;
  display: block;
  background: url(pattern.png) top left repeat;
  color: #000000;
  border: 1px solid #a3a3a3;
  border-top: none;
  text-shadow: 0 -1px 1px #7d7d7d;
}
#mysidemenu > ul > li > a > span {
  display: block;
  padding: 12px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#mysidemenu > ul > li > a:hover {
  text-decoration: none;
  background-color: #A9F097;
  background-image: -moz-linear-gradient(center top , #A9F097, #69EB60);
  border: 1px solid #5D5D5D;
}
#mysidemenu > ul > li.active {
  border-bottom: none;
}
#mysidemenu > ul > li.has-sub > a span {
  background: url(icon_plus.png) 96% center no-repeat;
}
#mysidemenu > ul > li.has-sub.active > a span {
  background: url(icon_minus.png) 96% center no-repeat;
}
/* Sub menu */
#mysidemenu ul ul {
  display: none;
  background: #fff;
  border-right: 1px solid #a2a194;
  border-left: 1px solid #a2a194;
}
#mysidemenu ul ul li {
  padding: 0;
  border-bottom: 1px solid #d4d4d4;
  border-top: none;
  background: #f7f7f7;
  background: -moz-linear-gradient(#f7f7f7 0%, #ececec 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ececec));
  background: -webkit-linear-gradient(#f7f7f7 0%, #ececec 100%);
  background: linear-gradient(#f7f7f7 0%, #ececec 100%);
}
#mysidemenu ul ul li:last-child {
  border-bottom: none;
}
#mysidemenu ul ul a {
  padding: 10px 10px 10px 12px;
  display: block;
  color: #000000;
  font-size: 10px;
  font-weight: normal;
}
#mysidemenu ul ul a:before {
  content: '»';
  position: absolute;
  left: 3px;
  color: #c9c9c9;
}
#mysidemenu ul ul a:hover {
  /*color: #c9c9c9;*/
  background-color: #A9F097;
  background-image: -moz-linear-gradient(center top , #A9F097, #69EB60);
  border: 1px solid #5D5D5D;
}
